<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Archive of Our Own (Inertia spike)</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="/vite-inertia/inertia.css">
  </head>
  <body>
    <%= inertia_root %>
    <script type="module" src="/vite-inertia/inertia.js"></script>
  </body>
</html>
